# Load Indeed.com data and do quick exploration

In [3]:
##read in and explore the xlsx files
import pandas as pd
import seaborn as sns
import numpy as np

data_dir = '/Users/alex/Desktop/DSciHomeworkAssignmentV3/'
df_train_salaries = pd.read_csv(data_dir+'train_salaries.csv') 
#sns.distplot(df_train['salary'])
#df_train_salaries.head()

df_train_features = pd.read_csv(data_dir+'train_features.csv') 
df_train_features.drop('companyId', axis=1, inplace=True)
df_train_features.drop('jobId', axis=1, inplace=True)

print(len(df_train_salaries))
#df_train_features.head()

1000000

In [6]:
##N.B. there are no missing values in these data
#None may be used for missing; 

df_train_features.isnull().sum()
print(df_train_features.milesFromMetropolis.max())

99

In [4]:
df_train_features.isna().sum()

jobType                0
degree                 0
major                  0
industry               0
yearsExperience        0
milesFromMetropolis    0
dtype: int64

In [31]:
##list the unqiue job types
df_train_features['jobType'].unique()

array(['CFO', 'CEO', 'VICE_PRESIDENT', 'MANAGER', 'JUNIOR', 'JANITOR',
       'CTO', 'SENIOR'], dtype=object)

In [32]:
##see how balanced the jobtypes are
df_train_features['jobType'].value_counts()

##the answer is pretty balance

SENIOR            125886
VICE_PRESIDENT    125235
MANAGER           125121
CTO               125046
JANITOR           124971
CEO               124778
JUNIOR            124594
CFO               124369
Name: jobType, dtype: int64

In [33]:
df_train_features['degree'].unique()
df_train_features['degree'].value_counts()

HIGH_SCHOOL    236976
NONE           236854
BACHELORS      175495
DOCTORAL       175364
MASTERS        175311
Name: degree, dtype: int64

In [42]:
condition = ((df_train_features.jobType == 'CEO') & (df_train_features.degree == 'DOCTORAL'))

df_test = df_train_features[condition]

In [43]:
print(df_test.groupby(['major', 'industry','degree','jobType']).count())

                                    yearsExperience  milesFromMetropolis
major   industry  degree   jobType
BIOLOGY AUTO      DOCTORAL CEO                  410                  410
        EDUCATION DOCTORAL CEO                  400                  400
        FINANCE   DOCTORAL CEO                  413                  413
        HEALTH    DOCTORAL CEO                  385                  385
        OIL       DOCTORAL CEO                  392                  392
...                                             ...                  ...
PHYSICS FINANCE   DOCTORAL CEO                  419                  419
        HEALTH    DOCTORAL CEO                  392                  392
        OIL       DOCTORAL CEO                  414                  414
        SERVICE   DOCTORAL CEO                  379                  379
        WEB       DOCTORAL CEO                  419                  419

[63 rows x 2 columns]

In [17]:
df_grouped = df_train_features.groupby(['jobType', 'degree']).count()

##see how balanced the degrees are

#Is NONE valid for degree?
#df_train_features['degree'].value_counts()
print(df_grouped)

                            jobId  companyId  major  industry  \
jobType        degree
CEO            BACHELORS    25123      25123  25123     25123
               DOCTORAL     25145      25145  25145     25145
               HIGH_SCHOOL  24721      24721  24721     24721
               MASTERS      24891      24891  24891     24891
               NONE         24898      24898  24898     24898
CFO            BACHELORS    24983      24983  24983     24983
               DOCTORAL     24697      24697  24697     24697
               HIGH_SCHOOL  24912      24912  24912     24912
               MASTERS      25063      25063  25063     25063
               NONE         24714      24714  24714     24714
CTO            BACHELORS    25057      25057  25057     25057
               DOCTORAL     24920      24920  24920     24920
               HIGH_SCHOOL  24894      24894  24894     24894
               MASTERS      25293      25293  25293     25293
               NONE         24882      24882  24882     24882
JANITOR        HIGH_SCHOOL  62427      62427  62427     62427
               NONE         62544      62544  62544     62544
JUNIOR         BACHELORS    24872      24872  24872     24872
               DOCTORAL     25021      25021  25021     25021
               HIGH_SCHOOL  25080      25080  25080     25080
               MASTERS      24839      24839  24839     24839
               NONE         24782      24782  24782     24782
MANAGER        BACHELORS    25018      25018  25018     25018
               DOCTORAL     24968      24968  24968     24968
               HIGH_SCHOOL  24895      24895  24895     24895
               MASTERS      25148      25148  25148     25148
               NONE         25092      25092  25092     25092
SENIOR         BACHELORS    25318      25318  25318     25318
               DOCTORAL     25379      25379  25379     25379
               HIGH_SCHOOL  24846      24846  24846     24846
               MASTERS      25226      25226  25226     25226
               NONE         25117      25117  25117     25117
VICE_PRESIDENT BACHELORS    25124      25124  25124     25124
               DOCTORAL     25234      25234  25234     25234
               HIGH_SCHOOL  25201      25201  25201     25201
               MASTERS      24851      24851  24851     24851
               NONE         24825      24825  24825     24825

                            yearsExperience  milesFromMetropolis
jobType        degree
CEO            BACHELORS              25123                25123
               DOCTORAL               25145                25145
               HIGH_SCHOOL            24721                24721
               MASTERS                24891                24891
               NONE                   24898                24898
CFO            BACHELORS              24983                24983
               DOCTORAL               24697                24697
               HIGH_SCHOOL            24912                24912
               MASTERS                25063                25063
               NONE                   24714                24714
CTO            BACHELORS              25057                25057
               DOCTORAL               24920                24920
               HIGH_SCHOOL            24894                24894
               MASTERS                25293                25293
               NONE                   24882                24882
JANITOR        HIGH_SCHOOL            62427                62427
               NONE                   62544                62544
JUNIOR         BACHELORS              24872                24872
               DOCTORAL               25021                25021
               HIGH_SCHOOL            25080                25080
               MASTERS                24839                24839
               NONE                   24782                24782
MANAGER        BACHELORS              25018                25018
               DOCTORAL               24968                24968
               HIGH_SCHOOL            24895                24895
               MASTERS                25148                25148
               NONE                   25092                25092
SENIOR         BACHELORS              25318                25318
               DOCTORAL               25379                25379
               HIGH_SCHOOL            24846                24846
               MASTERS                25226                25226
               NONE                   25117                25117
VICE_PRESIDENT BACHELORS              25124                25124
               DOCTORAL               25234                25234
               HIGH_SCHOOL            25201                25201
               MASTERS                24851                24851
               NONE                   24825                24825

In [ ]:
df_train_features['major'].unique()

In [23]:
df_train_features['major'].value_counts()

##Sum of HS and NONE =

NONE           532355
CHEMISTRY       58875
LITERATURE      58684
ENGINEERING     58596
BUSINESS        58518
PHYSICS         58410
COMPSCI         58382
BIOLOGY         58379
MATH            57801
Name: major, dtype: int64

In [16]:
df_train_features['industry'].unique()

array(['HEALTH', 'WEB', 'AUTO', 'FINANCE', 'EDUCATION', 'OIL', 'SERVICE'],
      dtype=object)

In [24]:
df_train_features['industry'].value_counts()

WEB          143206
AUTO         142943
FINANCE      142867
EDUCATION    142819
OIL          142771
HEALTH       142755
SERVICE      142639
Name: industry, dtype: int64